page-editor {
    .cke_reset{
        height: 100%;
        border: 0px;        
    }

    .cke_bottom{
         display: none;   
    }

    .cke_1 .cke_top {
    border-bottom-color: silver;

    }

    .cke_1 .cke_chrome {
    border: 0px;
    }


    .cke_chrome {
    box-shadow: 0 0 0px;
    }

    .scroll-content{
        padding: 5px!important;
    }

    
  
}



